# --- Виртуальные окружения ---
.venv/
venv/
env/

# --- Python кэш и байткод ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Jupyter ---
.ipynb_checkpoints/

# --- PyCharm / IDE ---
.idea/

# --- Системные файлы ---
.DS_Store
Thumbs.db

# --- Логи и временные файлы ---
*.log
*.tmp

# --- Большие/сырые данные (раскомментируй при необходимости) ---
# data/*.csv
# *.html